.bingo-sheet {
  display: grid;
  padding: var(--yamori-spacing-large);
  gap: var(--yamori-border-width-medium);
  flex: 1;
}

.field {
  // aspect-ratio: 1 / 1;
  background-color: var(--yamori-surface-primary);
  text-align: center;
  outline: var(--yamori-border-width-medium) solid var(--yamori-border-primary);

  input {
    display: none;
  }

  &:has(input:enabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--yamori-surface-primary-disabled);
    }
  }

  &:has(input:checked) {
    background-color: var(--yamori-surface-action);
    color: var(--yamori-text-on-action);

    &:hover,
    &:focus {
      background-color: var(--yamori-surface-action-hover);
    }
  }
}
