.bingo-card {
  width: 300px;

  &__section {
    justify-content: space-between;
    height: 100%;
  }
}

// portrait
@media (max-aspect-ratio: 1 / 1) {
  .bingo-card {
    width: 100%;
  }
}

.image {
  width: 100%;
  height: unset;
}
